<footer>
  <div class="footer-content">
    <div class="footer-left">
      <div class="footer-logo">
        <img src="/images/Crossfit.jpg" alt="Crossfit Logo">
        <a href="/">Crossfit</a>
      </div>
    </div>
    <div class="footer-center">
      <div class="footer-links">
        <a href="/about">About Us</a>
        <a href="#">Contact Us</a>
        <a href="#">FAQ</a>
        <a href="#">Terms of Service</a>
        <a href="#">Cookie Policy</a>
      </div>
    </div>
    <div class="footer-right">
      <div class="social-section">
        <p>Follow us on:</p>
        <div class="social-icons">
          <a href="https://www.instagram.com/" class="social-icon instagram" aria-label="Instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com/" class="social-icon facebook" aria-label="Facebook">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="https://www.reddit.com/" class="social-icon reddit" aria-label="Reddit">
            <i class="fa-brands fa-reddit-alien"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-content">
      <p>Copyright <i class="fa-regular fa-copyright"></i> 2025 Crossfit</p>
      <p>Websmith</p>
    </div>
  </div>
</footer>