<header>
    <div class="logo-container">
        <img src="/images/Crossfit.jpg"
            alt="logo-image">
        <a href="/">Crossfit</a>
  
    </div>
    <div class="links">
        <ul>
            <li><a href="#">Live-Score</a></li>
            <li><a href="#">Tournament</a></li>
            <li><a href="#">Merchandise</a></li>
            <li><a href="#">clubs</a></li>
        </ul>
        <button><a href="#home-roles">Login</a></button>
    </div>
</header>