<header>
    <div class="logo-container">
        <img src="https://images.unsplash.com/photo-1544717297-fa95b6ee9643?w=80&h=80&fit=crop&crop=center"
            alt="logo-image">
        <a href="">Sportlect</a>
    </div>
    <div class="links">
        <ul>
            <li><a href="#">Live-Score</a></li>
            <li><a href="#">Tournament</a></li>
            <li><a href="#">Merchandise</a></li>
            <li><a href="#">clubs</a></li>
        </ul>
        <button><a href="#home-roles">Login</a></button>
    </div>
</header>