<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/Crossfit.jpg">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/club_enlistpage.css">
    <link rel="stylesheet" href="/styles/club_list_specific.css">
    <link rel="stylesheet" href="/styles/club_dashboard.css">
    <link rel="stylesheet" href="/styles/viewers_dashboard.css">
    <link rel="stylesheet" href="/styles/news.css">
    <link rel="stylesheet" href="/styles/register_viewers.css">
    <link rel="stylesheet" href="/styles/register_clubs.css">
    <link rel="stylesheet" href="/styles/register_leagues.css">
    <link rel="stylesheet" href="/styles/login_viewers.css">
    <link rel="stylesheet" href="/styles/login_clubs.css">
    <link rel="stylesheet" href="/styles/match_setup.css">
    <link rel="stylesheet" href="/styles/login_leagues.css">
    <title>Crossfit</title>
</head>
<body>
    <%- include('../partials/header') %>
    <section class="main-content">
        <%- body %>
    </section>
    <%- include('../partials/footer') %>
    <script src="/script/club_dashboard.js"></script>
    <script src="/script/viewer_dashboard.js"></script>
    <script src="/script/header.js"></script>
</body>
</html>
