<main class="login-clubs-main-content">
    <section class="login-clubs-form-section">
        <div class="login-clubs-container">
            <h2 class="login-clubs-form-title">Welcome Back, Club!</h2>
            <p class="login-clubs-form-subtitle">Log in to manage your club's profile and updates.</p>

            <form class="login-clubs-form" id="login-clubs-form" method="post" action="/login/login_clubs">
                <div class="login-clubs-form-group">
                    <label for="login-clubs-email" class="login-clubs-label">Club Email:</label>
                    <input type="email" id="login-clubs-email" class="login-clubs-input" name="email" required>
                </div>

                <div class="login-clubs-form-group">
                    <label for="login-clubs-password" class="login-clubs-label">Club Password:</label>
                    <input type="password" id="login-clubs-password" class="login-clubs-input" name="password" required>
                </div>
                <p>Not Register? <a href="/register/register_clubs"  style="color: #ff4c30;">register</a></p>

                <button type="submit" class="login-clubs-submit-btn">Log In</button>
            </form>
        </div>
    </section>
</main>
