<main class="login-leagues-main-content">
    <section class="login-leagues-form-section">
        <div class="login-leagues-container">
            <h2 class="login-leagues-form-title">Welcome Back, League!</h2>
            <p class="login-leagues-form-subtitle">Log in to manage your league's schedule, results, and announcements.</p>

            <form class="login-leagues-form" id="login-leagues-form" method ="post" action="/login/login_leagues">
                <div class="login-leagues-form-group">
                    <label for="login-leagues-name" class="login-leagues-label">League Name:</label>
                    <input type="text" id="login-leagues-name" class="login-leagues-input" name="league_name" required>
                </div>

                <div class="login-leagues-form-group">
                    <label for="login-leagues-password" class="login-leagues-label">League Password:</label>
                    <input type="password" id="login-leagues-password" class="login-leagues-input" name="league_password" required>
                </div>
                <p>Not Register? <a href="/register/register_leagues"  style="color: aqua;">register</a></p>

                <button type="submit" class="login-leagues-submit-btn">Log In</button>
            </form>
        </div>
    </section>
</main>