<main class="news-container">
  <h1 class="news-title">Latest Sports News</h1>

  <div class="topic-selector">
    <button class="topic-btn active" data-topic="cricket">Cricket</button>
    <button class="topic-btn" data-topic="football">Football</button>
    <button class="topic-btn" data-topic="basketball">Basketball</button>
  </div>

  <div class="news-grid" id="news-grid">
  </div>
  <div class="loader-container" id="loader">
    <div class="spinner"></div>
    <p>Loading News...</p>
  </div>
</main>
<script src="/script/news_script.js"></script>