<main class="register-viewers-main-content">
  <section class="register-viewers-form-section">
    <div class="register-viewers-container">
      <h2 class="register-viewers-form-title">Join Our Sports Community!</h2>
      <p class="register-viewers-form-subtitle">Register or log in to get exclusive updates and personalize your feed.</p>

      <form class="register-viewers-form" id="register-viewers-registration-form" method="post" action="/register/register_viewers">
        <div class="register-viewers-form-group">
          <label for="register-viewers-name" class="register-viewers-label">Name:</label>
          <input type="text" id="register-viewers-name" class="register-viewers-input" name="name" required>
        </div>

        <div class="register-viewers-form-group">
          <label for="register-viewers-email" class="register-viewers-label">Email:</label>
          <input type="email" id="register-viewers-email" class="register-viewers-input" name="email" required>
        </div>

        <div class="register-viewers-form-group">
          <label for="register-viewers-password" class="register-viewers-label">Password:</label>
          <input type="password" id="register-viewers-password" class="register-viewers-input" name="password" required>
        </div>

        <div class="register-viewers-form-group">
          <label for="register-viewers-favorite-teams" class="register-viewers-label">Favorite Teams:</label>
          <select id="register-viewers-favorite-teams" class="register-viewers-select" name="favourite_team" >
           <option value="">--select--</option>
           <% clubs.forEach(club => { %>
            <option value="<%= club._id %>" ><%= club.name %></option>
           <% }) %>
          </select>
        </div>

        <button type="submit" class="register-viewers-submit-btn">Register</button>
      </form>
    </div>
  </section>
</main>